// ------------------------ ADS831 A ----------------------------X802
NET "ADC_A_CLOCK" LOC = P71 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;//pin38
NET "ADC_A[7]" LOC = P29 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin30
NET "ADC_A[6]" LOC = P33 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin31
NET "ADC_A[5]" LOC = P32 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin32
NET "ADC_A[4]" LOC = P35 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin33
NET "ADC_A[3]" LOC = P34 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin34
NET "ADC_A[2]" LOC = P36 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin35
NET "ADC_A[1]" LOC = P24 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin36
NET "ADC_A[0]" LOC = P41 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin37

// ------------------------ ADS831 B -----------------------------X801
NET "ADC_B_CLOCK" LOC = P116 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;//pin32
NET "ADC_B[7]" LOC = P107 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin37
NET "ADC_B[6]" LOC = P111 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin36
NET "ADC_B[5]" LOC = P114 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin35
NET "ADC_B[4]" LOC = P123 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin27
NET "ADC_B[3]" LOC = P119 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin30
NET "ADC_B[2]" LOC = P129 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin25
NET "ADC_B[1]" LOC = P136 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin19
NET "ADC_B[0]" LOC = P141 | IOSTANDARD = "LVCMOS25" | SLEW = FAST | PULLDOWN;//pin14