NET "SYNC" LOC = P4 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;//pin9
NET "SCLK" LOC = P5 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;//pin10
NET "SDIN" LOC = P2 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;//pin7
NET "ModeGen" LOC = P3 | IOSTANDARD = "LVCMOS33" | SLEW = FAST | PULLUP;//pin8 
