NET "CKV" LOC = P124 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "STV" LOC = P117 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "OEV" LOC = P126 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "STH" LOC = P131 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "OEH" LOC = P125 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "CPH1" LOC = P130 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;

NET "RGB_OUT[0]" LOC = P142 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "RGB_OUT[1]" LOC = P139 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "RGB_OUT[2]" LOC = P140 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "RGB_OUT[3]" LOC = P134 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "RGB_OUT[4]" LOC = P135 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
NET "RGB_OUT[5]" LOC = P132 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
